@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap&subset=cyrillic')

body
	font-family: 'Source Sans Pro', sans-serif
#main
	display: flex
	justify-content: center
	align-items: center
	margin: 4rem 0
#form
	position: relative
	max-width: 40rem
	width: 100%
	margin: 0 auto
	padding: 1rem
	border: 1px solid #bbb
	border-radius: 4px
.iti
	display: block
	margin-bottom: 1.5rem
.userAddressLabel
	position: relative
#addressSuggestions
	display: none
	position: absolute
	top: 6.5rem
	left: 0
	width: 100%
	background: #fff
	z-index: 1
	span
		display: block
		overflow: hidden
		min-height: 2.5rem
		font-size: 1.4rem
		border-radius: 4px
		border: 1px solid #bbb
		padding: 0.2rem 0.5rem
		margin-bottom: 0.1rem
		cursor: pointer
		&:hover
			border-color: #888
#map
	height: 30rem
	margin-bottom: 1.5rem
.required-input
	position: absolute
	height: 0
	width: 0
	opacity: 0
	z-index: -1
#errors
	span
		display: block
		color: red
#submitButton
	min-width: 15.5rem
#closeSuggestions
	display: none
	position: absolute
	top: 2.4rem
	right: 0
	width: 4rem
	height: 3.7rem
	padding: 1rem
	margin: 0
	line-height: 2rem
	background: #fff
.visible
	display: block !important
#modal
	display: none
	position: fixed
	z-index: 1
	left: 0
	top: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0,0,0,0.4)
.modal-content
	position: relative
	background-color: #fefefe
	margin: 15% auto
	padding: 20px
	border: 1px solid #888
	width: 30rem
	height: 2rem
.modal-close
	position: absolute
	display: block
	top: 0
	right: 0
	width: 4rem
	height: 4rem
	color: #aaa
	font-size: 3rem
	text-align: center
	line-height: 4rem
	font-weight: bold
	cursor: pointer